*{
    margin: 0;
    padding: 0;
    box-shadow: border-box;
    font-family: 'poppins';
}
.form-container{
    width: 100%;
    height:100vh;
    background: linear-gradient(to left , rgb(235, 236, 169), rgb(176, 218, 176));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
form{
    background: rgb(147, 147, 202);
    display: flex;
    margin-top: 30px;
    flex-direction: column;
    padding: 2vw 4vw;
    width: 90%;
    box-shadow: 1px 1px 50px;
    box-shadow:1px 1px 50px;
    max-width: 600px;
    border-radius: 10px;
}
form h3{
    color: #555;
    font-weight: 800;
    margin-bottom: 20px;
}
form input , form textarea{
    border:0;
    margin: 10px 0;
    padding: 20px;
    outline: none;
    border-radius: 30px;
    background: #f7f6fa;
    font-size: 16px;
}
form button{
    padding: 15px;
    background: #ff5361;
    color: #fff;
    font-size: 18px;
    border: 0;
    outline: none;
    cursor: pointer;
    width: 150px;
    border-radius: 30px;
    margin: 20px auto 0;
}
@media screen and (max-width:660px){
    form{
        width: 80%;
    }
}

.send button{
    position: relative;
    color: #050505;
    font-weight: 800;
    font-size: 25px;
    height: 70px;
    width: 220px;
    display: block;
    text-align: center;
    border-radius: 10px;
    text-decoration: none;
    background-image: linear-gradient(115deg,#4fcf70,#fad648,#a767e5,#12bcfe,#44ce7b);
  }
.send button:hover{
    animation: rotate 0.6s linear infinite;
  }
  @keyframes rotate {
    100%{
      filter: hue-rotate(-360deg)
    }
  }
  /* .send button span{
    height: 88%;
    width: 96%;
    background: rgb(42, 36, 92);
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 6px;
    line-height: 62px;
    font-size: 25px;
    transform: translate(-50%, -50%);
  } */