
.proimg{

    height: 600px;
}
.proimg:hover{
    overflow: hidden;
    transform: scale(1.15);
    transition: 2s;
}

.proimg-card{
    
   margin: 40px;
}
.project-title{
    font-size: 80px;
    font-weight: 900;
    color: rgb(3, 54, 54);
}
.details{
    background: linear-gradient(rgb(140, 141, 102), rgb(151, 203, 206));
   height: 100%;
    background-position:center ;
    background-repeat: no-repeat;
    background-size: cover;
   
}
.text{
    font-size: 20px;
}
h2{
    color: rgb(255, 72, 0);
}
.links Button{
    
    text-decoration: none;
    margin: 10px;
}
.links a{
    color: blue;
    font-weight: 900;
}

